<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" autoReload="true">
  <time type='AccurateUTC' />
  <!-- make sure to set 'Copy To Output Directory' option for this file -->
  <!-- go to http://nlog-project.org/wiki/Configuration_file for more information -->

  <targets>
    <target name="asyncFile" xsi:type="AsyncWrapper">
      <target name="logfile" xsi:type="File" fileName="${basedir}/logs/${shortdate}_LogFile.log" keepFileOpen="false" layout="${date} | ${level} | ${logger} | ${exception} | ${newline} -------> ${message} ${newline}"/>
    </target>
    <target name="asyncDatabaseLog" xsi:type="AsyncWrapper">
      <target xsi:type="Database" name="databaseLog" dbProvider="System.Data.SqlClient"
        connectionString="Server=upworky.database.windows.net,1433;Database=upworky;User ID=developer;Password=123456aA!">
        <!--connectionString="Server=upworky.database.windows.net,1433;Database=upworky-live;User ID=developer;Password=123456aA!">-->
        <!--connectionString="Server=upworky.database.windows.net,1433;Database=goworky-demo;User ID=developer;Password=123456aA!">-->

        <commandText>INSERT INTO [LogEntries](TimeStamp, Level, Logger, Exception, Message) VALUES(@TimeStamp, @Level, @Logger, @Exception, @Message)</commandText>

        <parameter name="@TimeStamp" layout="${date}"/>
        <parameter name="@Level" layout="${level}"/>
        <parameter name="@Logger" layout="${logger}"/>
        <parameter name="@Exception" layout="${exception}"/>
        <parameter name="@Message" layout="${message}"/>

        <!-- commands to install database -->
        <install-command>
          <text>
            CREATE TABLE LogEntries(
            ID int primary key not null identity(1,1),
            TimeStamp datetime2,
            Level nvarchar(15),
            Logger nvarchar(128),
            Exception nvarchar(max),
            Message nvarchar(max))
          </text>
        </install-command>
      </target>
    </target>
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="asyncDatabaseLog, asyncFile"/>
  </rules>
</nlog>