@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hGroup class="title">
    <h1>@ViewBag.Title.</h1>
</hGroup>
<div>
    <p>
        Please check your email to reset your password.
    </p>
</div>
	
